<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/"><%= title %></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#"><i class="fas fa-hand-holding-box"></i>Servicios <span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-warehouse-alt"></i>Industrias</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fad fa-user-graduate"></i>Formacion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/aplicar"><i class="fas fa-user-hard-hat"></i>Empleos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-users"></i>Comunidad</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-laptop-code"></i> </i>Nosotros</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fas fa-phone-office"></i>Contactenos</a>
                </li>
                </li>
            </ul>
        </div>
    </div>
</nav>